/* styles.css */

/* General */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2a8c18;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1,
h2 {
    margin: 0;
}

main {
    padding: 20px;
}

/* Secciones */
section {
    margin-bottom: 20px;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Listas */
ul,
ol {
    padding-left: 20px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #15b512;
    color: white;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



input,
textarea,
button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.centro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button {
    background: #10974f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005f99;
}

/* Pie de página */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}